.NewPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Title {
  font: var(--font-heading-sm);
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.BackButton {
  text-align: center;
  font: var(--font-body-sm);
}
