.Wrapper {
  min-height: 200svh;
  max-width: var(--wrapper-width-md);
  padding-inline: 1rem;
  margin-inline: auto;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 32px 0;
}

.UiGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.UiGroupLabel {
  font: var(--font-heading-sm);
}

.UiGroupContent {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
