.PostFeed {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 16px;

  min-height: 40px;
}

.Title {
  font: var(--font-heading-md);

  @media screen and (width > 768px) {
    font: var(--font-heading-md);
  }
}

.PostsList {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}
