.Tag {
  display: flex;
  gap: 8px;
  align-items: center;

  padding: 4px 12px;
  border: none;
  border-radius: 100px;
  background: var(--color-fill-normal);

  font: var(--font-label-sm);

  cursor: pointer;

  &:hover {
    background: var(--color-fill-strong);
  }
}
