/* -------------------------------------------------------------------------- */
/*                                    LInk                                    */
/* -------------------------------------------------------------------------- */
.Link {
  font: var(--link-font);
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* ---------------------------------- role ---------------------------------- */
.Link_role_primary {
  --link-font: var(--font-label-lg);
  --link-color: var(--color-primary-normal);
}

.Link_role_secondary {
  --link-font: var(--font-body-sm);
  --link-color: var(--color-text-normal);
}
