.CardSkeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  padding: 8px 16px;
}

.Body {
  width: 100%;
}

.Header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.Tags {
  display: flex;
  gap: 8px;
}
