.Checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 18px;
  height: 18px;
  padding: 0;
  border: 1.5px solid var(--checkbox-border-color, var(--color-line-normal));
  border-radius: var(--checkbox-border-radius);
  outline: none;
  background: var(--checkbox-bg-color, transparent);

  cursor: pointer;
  opacity: var(--checkbox-opacity, 1);

  &[data-state="checked"] {
    --checkbox-border-color: var(--color-primary-normal);
    --checkbox-bg-color: var(--color-primary-normal);
  }

  &:disabled {
    --checkbox-opacity: 0.43;
    cursor: default;
  }
}

.Checkbox_shape_square {
  --checkbox-border-radius: 3px;
}

.Checkbox_shape_circle {
  --checkbox-border-radius: 50%;
}

.CheckboxIndicator {
  color: var(--color-white);
}
