.Avatar {
  display: flex;
  align-items: center;
}

/* ---------------------------------- size ---------------------------------- */
.Avatar_size_sm {
  --avatar-width: 24px;
}

.Avatar_size_md {
  --avatar-width: 40px;
}

.AvatarImage {
  width: var(--avatar-width);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.AvatarFallback {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--avatar-width);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--color-fill-strong);
}

.UserIcon {
  color: var(--color-text-assistive);
  height: 50%;
  width: 50%;
}
