.MainLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  max-width: var(--wrapper-width-lg);
  height: 100%;
  padding-block: 16px;
  margin-inline: auto;

  @media screen and (width > 767px) {
    grid-template-columns: 1fr 256px;

    padding-inline: 1rem;
  }
}

.Main {
}

.RightSidebar {
  display: none;

  @media screen and (width > 767px) {
    display: block;
  }
}
