.PostHeader {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.AuthorInfo {
  display: flex;
  gap: 8px;
  align-items: center;

  position: relative;
  z-index: 1;
}

.AuthorTextInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AuthorUsername {
  font: var(--font-label-sm);
  color: var(--color-text-neutral);
  /* font-weight: 700; */
}

.AuthorName {
  font: var(--font-body-sm);
}

.Controls {
  position: relative;
  z-index: 1;
}
