/* -------------------------------------------------------------------------- */
/*                                  FormField                                 */
/* -------------------------------------------------------------------------- */
.FormField {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: var(--formfield-width, fit-content);
}

/* ---------------------------------- width --------------------------------- */
.FormField_width_full {
  --formfield-width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                    Label                                   */
/* -------------------------------------------------------------------------- */
.Label {
  font: var(--font-label-lg);
}

/* -------------------------------------------------------------------------- */
/*                                   Control                                  */
/* -------------------------------------------------------------------------- */
.Control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* -------------------------------------------------------------------------- */
/*                                   Message                                  */
/* -------------------------------------------------------------------------- */
.ErrorMessage {
  font: var(--font-label-sm);
  color: var(--color-status-destructive);
}
