.OtclickCard {
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: relative;

  width: 100%;
  padding: 12px;
  border: 1.5px solid var(--color-line-normal);
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
}

.OtclickCard_new {
  background: var(--color-fill-alternative);
}

.Header {
  display: flex;
  justify-content: space-between;

  position: relative;

  min-height: 32px;
}

.Info {
  display: flex;
  align-items: center;
  gap: var(--postheader-gap, 8px);
}

.TextInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.AuthorName {
  font: var(--postheader-author-font, var(--font-label-sm));
}

.Date {
  display: flex;
  gap: 4px;

  font: var(--font-label-sm);
  font-weight: normal;
  color: var(--color-text-neutral);
}

.Body {
  padding-inline: 32px;
}

.Message {
  font: var(--font-body-sm);
}

.RelatedPostLink {
  font: var(--font-label-sm);
  color: var(--color-text-neutral);

  &:hover {
    color: var(--color-text-normal);
  }
}
